CREATE TABLE "CategoriaProyecto" (
    "Id" int NOT NULL ,
    "Nombre" nvarchar(100) NOT NULL,
    "Descripcion" nvarchar(250) NULL,
    "Activo" bit NOT NULL,
    "CreatedAt" datetime2 NOT NULL,
    "UpdatedAt" datetime2 NOT NULL,
    CONSTRAINT "PK_CategoriaProyecto" PRIMARY KEY ("Id")
);

CREATE TABLE "DGII" (
    "Rnc" nvarchar(20) NOT NULL,
    "NombreRazonSocial" nvarchar(250) NOT NULL,
    "NombreComercial" nvarchar(250) NULL,
    "Categoria" nvarchar(100) NULL,
    "RegimenPagos" nvarchar(100) NULL,
    "Estado" nvarchar(50) NULL,
    "ActividadEconomica" nvarchar(250) NULL,
    "AdministracionLocal" nvarchar(100) NULL,
    "FacturadorElectronico" nvarchar(50) NULL,
    "LicenciasVhm" nvarchar(100) NULL,
    "FechaModificacion" datetime2 NULL,
    CONSTRAINT "PK_DGII" PRIMARY KEY ("Rnc")
);

CREATE TABLE "JCE_Ciudadano" (
    "Cedula" nvarchar(450) NOT NULL,
    "Nombres" nvarchar(max) NOT NULL,
    "Apellidos" nvarchar(max) NOT NULL,
    "FechaNacimiento" datetime2 NOT NULL,
    "FechaExpiracion" datetime2 NOT NULL,
    CONSTRAINT "PK_JCE_Ciudadano" PRIMARY KEY ("Cedula")
);

CREATE TABLE "Perfiles" (
    "IdPerfil" uniqueidentifier NOT NULL,
    "NombrePerfil" nvarchar(100) NOT NULL,
    CONSTRAINT "PK_Perfiles" PRIMARY KEY ("IdPerfil")
);

CREATE TABLE "Permisos" (
    "IdPermiso" uniqueidentifier NOT NULL,
    "Descripcion" nvarchar(100) NOT NULL,
    CONSTRAINT "PK_Permisos" PRIMARY KEY ("IdPermiso")
);

CREATE TABLE "PlanSuscripcion" (
    "Idsuscripcion" uniqueidentifier NOT NULL,
    "NombrePlan" nvarchar(100) NOT NULL,
    "Precio" decimal(10,2) NOT NULL,
    "MaxConsultas" int NOT NULL DEFAULT 0,
    "MaxProyectos" int NOT NULL DEFAULT 0,
    "PresentacionPublica" bit NOT NULL DEFAULT 0,
    "QrIncluido" bit NOT NULL DEFAULT 0,
    "MaxUsuariosSecundarios" int NOT NULL DEFAULT 0,
    "MaxAlmacenamientoMb" int NOT NULL DEFAULT 0,
    "AlertasTiempoRealDisponible" bit NOT NULL DEFAULT 0,
    "ModeloLmDisponible" bit NOT NULL DEFAULT 0,
    "ValidacionLoteDisponible" bit NOT NULL DEFAULT 0,
    "ExportacionExcelDisponible" bit NOT NULL DEFAULT 0,
    "ExportacionPdfDisponible" bit NOT NULL DEFAULT 0,
    "IntegracionCrmDisponible" bit NOT NULL DEFAULT 0,
    "SoporteTipo" nvarchar(50) NOT NULL DEFAULT N'Comunidad',
    "AccesoApi" bit NOT NULL DEFAULT 0,
    CONSTRAINT "PK_PlanSuscripcion" PRIMARY KEY ("Idsuscripcion")
);

CREATE TABLE "Provincia" (
    "IdProvincia" uniqueidentifier NOT NULL,
    "NombreProvincia" nvarchar(100) NOT NULL,
    "Latitud" decimal(18,10) NULL,
    "Longitud" decimal(18,10) NULL,
    CONSTRAINT "PK_Provincia" PRIMARY KEY ("IdProvincia")
);

CREATE TABLE "ProyectosEstados" (
    "Id" uniqueidentifier NOT NULL,
    "CodigoUnico" nvarchar(50) NOT NULL,
    "Nombre" nvarchar(100) NOT NULL,
    "Descripcion" nvarchar(500) NOT NULL,
    "Condiciones" nvarchar(1000) NOT NULL,
    "ColorHex" nvarchar(20) NOT NULL,
    "Activo" bit NOT NULL DEFAULT 0,
    "CreatedAtUtc" datetime2 NOT NULL,
    "UpdatedAtUtc" datetime2 NULL,
    CONSTRAINT "PK_ProyectosEstados" PRIMARY KEY ("Id")
);

CREATE TABLE "ReglasValidacion" (
    "Id" uniqueidentifier NOT NULL,
    "Nombre" nvarchar(200) NOT NULL,
    "Descripcion" nvarchar(1000) NOT NULL,
    "CondicionLogica" nvarchar(2000) NOT NULL,
    "TipoDocumentoAplicable" int NOT NULL,
    "NivelAlerta" int NOT NULL,
    "TipoProyecto" int NOT NULL,
    "Activa" bit NOT NULL,
    "Version" int NOT NULL,
    "FechaCreacionUtc" datetime2 NOT NULL,
    "CreadaPor" uniqueidentifier NOT NULL,
    "ReglaAnteriorId" uniqueidentifier NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    "UpdatedAtUtc" datetime2 NULL,
    CONSTRAINT "PK_ReglasValidacion" PRIMARY KEY ("Id")
);

CREATE TABLE "TiposNotificaciones" (
    "Id" int NOT NULL ,
    "Codigo" nvarchar(450) NOT NULL,
    "Nombre" nvarchar(max) NOT NULL,
    "Descripcion" nvarchar(max) NULL,
    "Categoria" nvarchar(max) NOT NULL,
    "Prioridad" tinyint NOT NULL,
    "Canales" nvarchar(max) NOT NULL,
    "PlantillaTitulo" nvarchar(max) NULL,
    "PlantillaMensaje" nvarchar(max) NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    CONSTRAINT "PK_TiposNotificaciones" PRIMARY KEY ("Id")
);

CREATE TABLE "CatastroTitulo" (
    "IdCatastroTitulo" uniqueidentifier NOT NULL,
    "CodigoDesignacionCatastral" nvarchar(max) NULL,
    "NumeroTitulo" nvarchar(max) NULL,
    "Rnc" nvarchar(20) NULL,
    "Provincia" nvarchar(max) NULL,
    "Municipio" nvarchar(max) NULL,
    "Latitud" decimal(18,6) NULL,
    "Longitud" decimal(18,6) NULL,
    "Superficie" decimal(18,2) NULL,
    "Matricula" nvarchar(max) NULL,
    "Oficina" nvarchar(max) NULL,
    "FechaInscripcion" datetime2 NULL,
    "FechaEmision" datetime2 NULL,
    "VieneDe" nvarchar(max) NULL,
    "DesignCatastralOrigen" nvarchar(max) NULL,
    "DesigCatastralPosicional" nvarchar(max) NULL,
    CONSTRAINT "PK_CatastroTitulo" PRIMARY KEY ("IdCatastroTitulo"),
    CONSTRAINT "FK_CatastroTitulo_DGII_Rnc" FOREIGN KEY ("Rnc") REFERENCES "DGII" ("Rnc") ON DELETE NO ACTION
);

CREATE TABLE "LicenciaConstruccion" (
    "MivedId" uniqueidentifier NOT NULL DEFAULT (NEWID()),
    "NumeroPermiso" nvarchar(50) NOT NULL,
    "NombreProyecto" nvarchar(500) NOT NULL,
    "Tipologia" nvarchar(100) NULL,
    "FechaEntrada" datetime2 NULL,
    "FechaEmision" datetime2 NULL,
    "Provincia" nvarchar(100) NULL,
    "Municipio" nvarchar(100) NULL,
    "UnidadesHabitacionales" int NULL,
    "LocalesComerciales" int NULL,
    "Rnc" nvarchar(20) NULL,
    "NombreRazonSocial" nvarchar(max) NULL,
    CONSTRAINT "PK_LicenciaConstruccion" PRIMARY KEY ("MivedId"),
    CONSTRAINT "FK_LicenciaConstruccion_DGII_Rnc" FOREIGN KEY ("Rnc") REFERENCES "DGII" ("Rnc") ON DELETE NO ACTION
);

CREATE TABLE "PagoIPI" (
    "Rnc" nvarchar(20) NOT NULL,
    "Cuota_ipi" decimal(18,2) NOT NULL,
    "Estatus" nvarchar(max) NOT NULL,
    "FechaCreacion" datetime2 NOT NULL,
    "NoCertificacion" nvarchar(max) NULL,
    "NoInmueble" nvarchar(max) NULL,
    "ParcelaNo" nvarchar(max) NULL,
    CONSTRAINT "PK_PagoIPI" PRIMARY KEY ("Rnc"),
    CONSTRAINT "FK_PagoIPI_DGII_Rnc" FOREIGN KEY ("Rnc") REFERENCES "DGII" ("Rnc") ON DELETE CASCADE
);

CREATE TABLE "PermisoSuelo" (
    "IdPSuelo" uniqueidentifier NOT NULL,
    "NumeroPermiso" nvarchar(max) NULL,
    "NumeroExpediente" nvarchar(max) NULL,
    "FechaEmision" datetime2 NULL,
    "Rnc" nvarchar(20) NULL,
    "Provincia" nvarchar(max) NULL,
    "Municipio" nvarchar(max) NULL,
    "Latitud" decimal(18,6) NULL,
    "Longitud" decimal(18,6) NULL,
    "Superficie" decimal(18,2) NULL,
    "TienePermiso" nvarchar(max) NULL,
    "Documento" nvarchar(max) NULL,
    "Departamento" nvarchar(max) NULL,
    "Operacion" nvarchar(max) NULL,
    "Seccion" nvarchar(max) NULL,
    "Lugar" nvarchar(max) NULL,
    CONSTRAINT "PK_PermisoSuelo" PRIMARY KEY ("IdPSuelo"),
    CONSTRAINT "FK_PermisoSuelo_DGII_Rnc" FOREIGN KEY ("Rnc") REFERENCES "DGII" ("Rnc") ON DELETE NO ACTION
);

CREATE TABLE "PerfilPermiso" (
    "IdPerfil" uniqueidentifier NOT NULL,
    "IdPermiso" uniqueidentifier NOT NULL,
    CONSTRAINT "PK_PerfilPermiso" PRIMARY KEY ("IdPerfil", "IdPermiso"),
    CONSTRAINT "FK_PerfilPermiso_Perfiles_IdPerfil" FOREIGN KEY ("IdPerfil") REFERENCES "Perfiles" ("IdPerfil") ON DELETE CASCADE,
    CONSTRAINT "FK_PerfilPermiso_Permisos_IdPermiso" FOREIGN KEY ("IdPermiso") REFERENCES "Permisos" ("IdPermiso") ON DELETE CASCADE
);

CREATE TABLE "Usuario" (
    "IdUsuario" uniqueidentifier NOT NULL,
    "Nombre" nvarchar(100) NOT NULL,
    "Apellido" nvarchar(100) NOT NULL,
    "NombreCompleto",
    "Email" nvarchar(200) NOT NULL,
    "ContrasenaHash" nvarchar(500) NOT NULL,
    "Telefono" nvarchar(15) NOT NULL,
    "Cedula" nvarchar(15) NULL,
    "Rnc" nvarchar(max) NULL,
    "RazonSocial" nvarchar(max) NULL,
    "NombreComercial" nvarchar(max) NULL,
    "ActividadEconomica" nvarchar(max) NULL,
    "Direccion" nvarchar(200) NULL,
    "Provincia" nvarchar(50) NULL,
    "Nickname" nvarchar(30) NULL,
    "NombrePublicoModo" nvarchar(20) NULL,
    "IdentificacionPublicaModo" nvarchar(20) NULL,
    "Rol" int NOT NULL,
    "Activo" bit NOT NULL DEFAULT 0,
    "AccountStatus" int NOT NULL,
    "DeletedAtUtc" datetime2 NULL,
    "RecoverUntilUtc" datetime2 NULL,
    "PurgeAtUtc" datetime2 NULL,
    "DeletionReason" nvarchar(max) NULL,
    "EmailVerificado" bit NOT NULL DEFAULT 0,
    "TokenVerificacion" nvarchar(4000) NULL,
    "TokenVerificacionExpiraUtc" datetime2 NULL,
    "PasswordResetToken" nvarchar(max) NULL,
    "PasswordResetTokenExpiraUtc" datetime2 NULL,
    "AvatarUrl" nvarchar(max) NULL,
    "StripeCustomerId" nvarchar(max) NULL,
    "StripeSubscriptionId" nvarchar(max) NULL,
    "SubscriptionStatus" nvarchar(max) NULL,
    "CurrentPeriodEnd" datetime2 NULL,
    "CancelAtPeriodEnd" bit NOT NULL,
    "CancelAt" datetime2 NULL,
    "SocialLogin" bit NOT NULL DEFAULT 0,
    "GoogleId" nvarchar(100) NULL,
    "AceptoDescargo" bit NOT NULL DEFAULT 0,
    "PendingPlanCode" nvarchar(max) NULL,
    "PendingBillingCycle" nvarchar(max) NULL,
    "RowVersion" rowversion NULL,
    "PlanSuscripcionId" uniqueidentifier NULL,
    "ConsultasUsadas" int NOT NULL DEFAULT 0,
    "ProyectosCreados" int NOT NULL DEFAULT 0,
    "MaxProyectosDelegados" int NULL,
    "MaxConsultasDelegadas" int NULL,
    "TitularId" uniqueidentifier NULL,
    "TwoFactorEnabled" bit NOT NULL DEFAULT 0,
    "TwoFactorSecretEncrypted" nvarchar(500) NULL,
    "RecoveryCodesHashJson" nvarchar(2000) NULL,
    "Failed2FAAttempts" int NOT NULL DEFAULT 0,
    "Lockout2FAUntilUtc" datetime2 NULL,
    "Last2FAVerifiedUtc" datetime2 NULL,
    "EmailOtpLastSentUtc" datetime2 NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    "UpdatedAtUtc" datetime2 NULL,
    CONSTRAINT "PK_Usuario" PRIMARY KEY ("IdUsuario"),
    CONSTRAINT "CK_Usuario_Cedula_Rnc" CHECK (("Cedula" IS NOT NULL AND "Cedula" <> '') OR ("Rnc" IS NOT NULL AND "Rnc" <> '')),
    CONSTRAINT "FK_Usuario_PlanSuscripcion_PlanSuscripcionId" FOREIGN KEY ("PlanSuscripcionId") REFERENCES "PlanSuscripcion" ("Idsuscripcion") ON DELETE SET NULL,
    CONSTRAINT "FK_Usuario_Usuario_TitularId" FOREIGN KEY ("TitularId") REFERENCES "Usuario" ("IdUsuario") ON DELETE NO ACTION
);

CREATE TABLE "Municipio" (
    "IdMunicipio" uniqueidentifier NOT NULL,
    "IdProvincia" uniqueidentifier NOT NULL,
    "NombreMunicipio" nvarchar(100) NOT NULL,
    "Latitud" decimal(9,6) NULL,
    "Longitud" decimal(9,6) NULL,
    CONSTRAINT "PK_Municipio" PRIMARY KEY ("IdMunicipio"),
    CONSTRAINT "FK_Municipio_Provincia_IdProvincia" FOREIGN KEY ("IdProvincia") REFERENCES "Provincia" ("IdProvincia") ON DELETE NO ACTION
);

CREATE TABLE "ConsentimientosFinancieros" (
    "Id" uniqueidentifier NOT NULL,
    "UsuarioId" uniqueidentifier NOT NULL,
    "FechaHoraUtc" datetime2 NOT NULL,
    "IpOrigen" nvarchar(50) NOT NULL,
    "VersionPolitica" nvarchar(20) NOT NULL,
    "Estado" int NOT NULL,
    "FechaExpiracionUtc" datetime2 NOT NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    "UpdatedAtUtc" datetime2 NULL,
    CONSTRAINT "PK_ConsentimientosFinancieros" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_ConsentimientosFinancieros_Usuario_UsuarioId" FOREIGN KEY ("UsuarioId") REFERENCES "Usuario" ("IdUsuario") ON DELETE NO ACTION
);

CREATE TABLE "Invitaciones" (
    "Id" uniqueidentifier NOT NULL,
    "EmisorId" uniqueidentifier NOT NULL,
    "Email" nvarchar(200) NOT NULL,
    "Nombre" nvarchar(100) NOT NULL,
    "Apellido" nvarchar(100) NOT NULL,
    "Telefono" nvarchar(15) NOT NULL,
    "Cedula" nvarchar(15) NOT NULL,
    "FechaInvitacion" datetime2 NOT NULL,
    "Aceptada" bit NOT NULL DEFAULT 0,
    CONSTRAINT "PK_Invitaciones" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Invitaciones_Usuario_EmisorId" FOREIGN KEY ("EmisorId") REFERENCES "Usuario" ("IdUsuario") ON DELETE NO ACTION
);

CREATE TABLE "LogConsultas" (
    "Id" uniqueidentifier NOT NULL,
    "UsuarioId" uniqueidentifier NOT NULL,
    "FechaConsulta" datetime2 NOT NULL,
    "Exitoso" bit NOT NULL,
    "Detalle" nvarchar(500) NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    "UpdatedAtUtc" datetime2 NULL,
    CONSTRAINT "PK_LogConsultas" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_LogConsultas_Usuario_UsuarioId" FOREIGN KEY ("UsuarioId") REFERENCES "Usuario" ("IdUsuario") ON DELETE NO ACTION
);

CREATE TABLE "Notificaciones" (
    "Id" uniqueidentifier NOT NULL,
    "UsuarioId" uniqueidentifier NOT NULL,
    "Mensaje" nvarchar(max) NOT NULL,
    "Tipo" nvarchar(max) NOT NULL,
    "TipoNotificacionId" int NULL,
    "Prioridad" tinyint NOT NULL,
    "Leida" bit NOT NULL,
    "FechaUtc" datetime2 NOT NULL,
    "EnlaceRelacionado" nvarchar(max) NULL,
    "CodigoReferencia" nvarchar(max) NOT NULL,
    "EntidadReferenciaId" uniqueidentifier NULL,
    "EntidadReferenciaTipo" nvarchar(max) NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    "UpdatedAtUtc" datetime2 NULL,
    CONSTRAINT "PK_Notificaciones" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Notificaciones_TiposNotificaciones_TipoNotificacionId" FOREIGN KEY ("TipoNotificacionId") REFERENCES "TiposNotificaciones" ("Id") ON DELETE SET NULL,
    CONSTRAINT "FK_Notificaciones_Usuario_UsuarioId" FOREIGN KEY ("UsuarioId") REFERENCES "Usuario" ("IdUsuario") ON DELETE CASCADE
);

CREATE TABLE "Pagos" (
    "IdPago" uniqueidentifier NOT NULL,
    "FechaPago" datetime2 NOT NULL DEFAULT (GETDATE()),
    "IdApiGobernanza" uniqueidentifier NULL,
    "IdUsuario" uniqueidentifier NULL,
    "Idsuscripcion" uniqueidentifier NULL,
    "Monto" decimal(10,2) NOT NULL,
    CONSTRAINT "PK_Pagos" PRIMARY KEY ("IdPago"),
    CONSTRAINT "FK_Pagos_PlanSuscripcion_Idsuscripcion" FOREIGN KEY ("Idsuscripcion") REFERENCES "PlanSuscripcion" ("Idsuscripcion") ON DELETE NO ACTION,
    CONSTRAINT "FK_Pagos_Usuario_IdUsuario" FOREIGN KEY ("IdUsuario") REFERENCES "Usuario" ("IdUsuario") ON DELETE CASCADE
);

CREATE TABLE "ProyectosInmobiliarios" (
    "IdProyecto" uniqueidentifier NOT NULL,
    "CodigoInterno" nvarchar(50) NOT NULL,
    "NombreProyecto" nvarchar(200) NOT NULL,
    "UbicacionTexto" nvarchar(500) NOT NULL,
    "UbicacionGps" nvarchar(100) NULL,
    "ValorEstimado" decimal(18,2) NULL,
    "DatosDesarrollador" nvarchar(max) NULL,
    "RncDesarrollador" nvarchar(max) NULL,
    "Matricula" nvarchar(max) NULL,
    "CategoriaId" int NOT NULL,
    "DesignacionCatastral" nvarchar(max) NULL,
    "Ipi" nvarchar(50) NULL,
    "ImagenUrl" nvarchar(2048) NULL,
    "ImagenAdicional1" nvarchar(2048) NULL,
    "ImagenAdicional2" nvarchar(2048) NULL,
    "ImagenAdicional3" nvarchar(2048) NULL,
    "ImagenAdicional4" nvarchar(2048) NULL,
    "ImagenAdicional5" nvarchar(2048) NULL,
    "Propietario" nvarchar(200) NULL,
    "CedulaRncPropietario" nvarchar(50) NULL,
    "EstatusIpi" nvarchar(max) NULL,
    "SuperficieM2" decimal(18,2) NULL,
    "EstadoJuridico" int NOT NULL,
    "EstadoId" uniqueidentifier NOT NULL,
    "EstadoIntegridad" int NOT NULL,
    "SelladoBloqueado" bit NOT NULL,
    "IdUsuario" uniqueidentifier NOT NULL,
    "ProvinciaId" uniqueidentifier NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    "UpdatedAtUtc" datetime2 NULL,
    CONSTRAINT "PK_ProyectosInmobiliarios" PRIMARY KEY ("IdProyecto"),
    CONSTRAINT "FK_ProyectosInmobiliarios_CategoriaProyecto_CategoriaId" FOREIGN KEY ("CategoriaId") REFERENCES "CategoriaProyecto" ("Id") ON DELETE NO ACTION,
    CONSTRAINT "FK_ProyectosInmobiliarios_Provincia_ProvinciaId" FOREIGN KEY ("ProvinciaId") REFERENCES "Provincia" ("IdProvincia"),
    CONSTRAINT "FK_ProyectosInmobiliarios_ProyectosEstados_EstadoId" FOREIGN KEY ("EstadoId") REFERENCES "ProyectosEstados" ("Id") ON DELETE NO ACTION,
    CONSTRAINT "FK_ProyectosInmobiliarios_Usuario_IdUsuario" FOREIGN KEY ("IdUsuario") REFERENCES "Usuario" ("IdUsuario") ON DELETE NO ACTION
);

CREATE TABLE "SesionUsuario" (
    "Id" uniqueidentifier NOT NULL,
    "UsuarioId" uniqueidentifier NOT NULL,
    "RefreshToken" nvarchar(max) NOT NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    "ExpiresAtUtc" datetime2 NOT NULL,
    "IsRevoked" bit NOT NULL,
    "IpAddress" nvarchar(max) NULL,
    "UserAgent" nvarchar(max) NULL,
    CONSTRAINT "PK_SesionUsuario" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_SesionUsuario_Usuario_UsuarioId" FOREIGN KEY ("UsuarioId") REFERENCES "Usuario" ("IdUsuario") ON DELETE CASCADE
);

CREATE TABLE "Verificacion2FA" (
    "Id" uniqueidentifier NOT NULL,
    "UsuarioId" uniqueidentifier NOT NULL,
    "SesionId" nvarchar(200) NOT NULL,
    "NumeroVerificable" nvarchar(6) NOT NULL,
    "FechaCreacion" datetime2 NOT NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    "UpdatedAtUtc" datetime2 NULL,
    CONSTRAINT "PK_Verificacion2FA" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Verificacion2FA_Usuario_UsuarioId" FOREIGN KEY ("UsuarioId") REFERENCES "Usuario" ("IdUsuario") ON DELETE CASCADE
);

CREATE TABLE "NotificacionEntregas" (
    "Id" uniqueidentifier NOT NULL,
    "NotificacionId" uniqueidentifier NOT NULL,
    "Canal" nvarchar(450) NOT NULL,
    "Estado" nvarchar(max) NOT NULL,
    "FechaEnvio" datetime2 NULL,
    "FechaLectura" datetime2 NULL,
    "ErrorMensaje" nvarchar(max) NULL,
    "Reintentos" int NOT NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    CONSTRAINT "PK_NotificacionEntregas" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_NotificacionEntregas_Notificaciones_NotificacionId" FOREIGN KEY ("NotificacionId") REFERENCES "Notificaciones" ("Id") ON DELETE CASCADE
);

CREATE TABLE "Auditorias" (
    "Id" uniqueidentifier NOT NULL,
    "UsuarioId" uniqueidentifier NULL,
    "ProyectoId" uniqueidentifier NULL,
    "TipoEvento" nvarchar(max) NOT NULL,
    "Accion" nvarchar(200) NOT NULL,
    "Entidad" nvarchar(max) NULL,
    "EntidadId" nvarchar(max) NULL,
    "Detalle" nvarchar(2000) NULL,
    "IpOrigen" nvarchar(50) NULL,
    "UserAgent" nvarchar(max) NULL,
    "FechaEventoUtc" datetime2 NOT NULL,
    "TipoOperacion" int NOT NULL,
    "Resultado" nvarchar(2000) NULL,
    "ReferenciaExpedienteId" uniqueidentifier NULL,
    "EstadoAnteriorId" uniqueidentifier NULL,
    "EstadoNuevoId" uniqueidentifier NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    "UpdatedAtUtc" datetime2 NULL,
    CONSTRAINT "PK_Auditorias" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Auditorias_ProyectosEstados_EstadoAnteriorId" FOREIGN KEY ("EstadoAnteriorId") REFERENCES "ProyectosEstados" ("Id") ON DELETE NO ACTION,
    CONSTRAINT "FK_Auditorias_ProyectosEstados_EstadoNuevoId" FOREIGN KEY ("EstadoNuevoId") REFERENCES "ProyectosEstados" ("Id") ON DELETE NO ACTION,
    CONSTRAINT "FK_Auditorias_ProyectosInmobiliarios_ProyectoId" FOREIGN KEY ("ProyectoId") REFERENCES "ProyectosInmobiliarios" ("IdProyecto") ON DELETE CASCADE,
    CONSTRAINT "FK_Auditorias_Usuario_UsuarioId" FOREIGN KEY ("UsuarioId") REFERENCES "Usuario" ("IdUsuario") ON DELETE NO ACTION
);

CREATE TABLE "DeteccionesDuplicidad" (
    "Id" uniqueidentifier NOT NULL,
    "ProyectoId" uniqueidentifier NOT NULL,
    "ProyectoDuplicadoId" uniqueidentifier NULL,
    "NivelRiesgo" int NOT NULL,
    "DescripcionCoincidencia" nvarchar(max) NOT NULL,
    "FechaDeteccion" datetime2 NOT NULL,
    "Bloqueante" bit NOT NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    "UpdatedAtUtc" datetime2 NULL,
    CONSTRAINT "PK_DeteccionesDuplicidad" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_DeteccionesDuplicidad_ProyectosInmobiliarios_ProyectoDuplicadoId" FOREIGN KEY ("ProyectoDuplicadoId") REFERENCES "ProyectosInmobiliarios" ("IdProyecto"),
    CONSTRAINT "FK_DeteccionesDuplicidad_ProyectosInmobiliarios_ProyectoId" FOREIGN KEY ("ProyectoId") REFERENCES "ProyectosInmobiliarios" ("IdProyecto") ON DELETE CASCADE
);

CREATE TABLE "Documentos" (
    "Id" uniqueidentifier NOT NULL,
    "ProyectoId" uniqueidentifier NOT NULL,
    "TipoDocumento" int NOT NULL,
    "NombreArchivoOriginal" nvarchar(500) NOT NULL,
    "NombreArchivoAlmacenado" nvarchar(500) NOT NULL,
    "RutaArchivo" nvarchar(1000) NOT NULL,
    "ContentType" nvarchar(100) NOT NULL,
    "Extension" nvarchar(10) NOT NULL,
    "TamanoBytes" bigint NOT NULL,
    "EstadoDocumento" int NOT NULL,
    "Activo" bit NOT NULL,
    "Version" int NOT NULL,
    "FechaEmision" datetime2 NULL,
    "InstitucionEmisora" nvarchar(200) NULL,
    "UsuarioCargaId" uniqueidentifier NOT NULL,
    "Observaciones" nvarchar(1000) NULL,
    "HashSHA256" nvarchar(max) NULL,
    "ResultadoOcrJson" nvarchar(max) NULL,
    "FormalStatus" int NULL,
    "FechaVencimiento" datetime2 NULL,
    "VersionReglaAplicada" nvarchar(max) NULL,
    "FechaEvaluacion" datetime2 NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    "UpdatedAtUtc" datetime2 NULL,
    CONSTRAINT "PK_Documentos" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Documentos_ProyectosInmobiliarios_ProyectoId" FOREIGN KEY ("ProyectoId") REFERENCES "ProyectosInmobiliarios" ("IdProyecto") ON DELETE CASCADE
);

CREATE TABLE "LogProyectos" (
    "Id" uniqueidentifier NOT NULL,
    "UsuarioId" uniqueidentifier NOT NULL,
    "ProyectoId" uniqueidentifier NOT NULL,
    "FechaCreacion" datetime2 NOT NULL,
    "Detalle" nvarchar(500) NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    "UpdatedAtUtc" datetime2 NULL,
    CONSTRAINT "PK_LogProyectos" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_LogProyectos_ProyectosInmobiliarios_ProyectoId" FOREIGN KEY ("ProyectoId") REFERENCES "ProyectosInmobiliarios" ("IdProyecto") ON DELETE NO ACTION,
    CONSTRAINT "FK_LogProyectos_Usuario_UsuarioId" FOREIGN KEY ("UsuarioId") REFERENCES "Usuario" ("IdUsuario") ON DELETE NO ACTION
);

CREATE TABLE "ProyectoGuardado" (
    "Id" uniqueidentifier NOT NULL,
    "ProjectId" uniqueidentifier NOT NULL,
    "CreatorId" uniqueidentifier NOT NULL,
    "SaverId" uniqueidentifier NOT NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    "UpdatedAtUtc" datetime2 NULL,
    CONSTRAINT "PK_ProyectoGuardado" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_ProyectoGuardado_ProyectosInmobiliarios_ProjectId" FOREIGN KEY ("ProjectId") REFERENCES "ProyectosInmobiliarios" ("IdProyecto") ON DELETE NO ACTION,
    CONSTRAINT "FK_ProyectoGuardado_Usuario_CreatorId" FOREIGN KEY ("CreatorId") REFERENCES "Usuario" ("IdUsuario") ON DELETE NO ACTION,
    CONSTRAINT "FK_ProyectoGuardado_Usuario_SaverId" FOREIGN KEY ("SaverId") REFERENCES "Usuario" ("IdUsuario") ON DELETE NO ACTION
);

CREATE TABLE "ProyectoInteres" (
    "Id" uniqueidentifier NOT NULL,
    "ProjectId" uniqueidentifier NOT NULL,
    "CreatorId" uniqueidentifier NOT NULL,
    "InterestedUserId" uniqueidentifier NOT NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    "UpdatedAtUtc" datetime2 NULL,
    CONSTRAINT "PK_ProyectoInteres" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_ProyectoInteres_ProyectosInmobiliarios_ProjectId" FOREIGN KEY ("ProjectId") REFERENCES "ProyectosInmobiliarios" ("IdProyecto") ON DELETE NO ACTION,
    CONSTRAINT "FK_ProyectoInteres_Usuario_CreatorId" FOREIGN KEY ("CreatorId") REFERENCES "Usuario" ("IdUsuario") ON DELETE NO ACTION,
    CONSTRAINT "FK_ProyectoInteres_Usuario_InterestedUserId" FOREIGN KEY ("InterestedUserId") REFERENCES "Usuario" ("IdUsuario") ON DELETE NO ACTION
);

CREATE TABLE "ProyectoValidacionDescargo" (
    "Id" uniqueidentifier NOT NULL,
    "UsuarioId" uniqueidentifier NOT NULL,
    "ProyectoId" uniqueidentifier NOT NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    "UpdatedAtUtc" datetime2 NULL,
    CONSTRAINT "PK_ProyectoValidacionDescargo" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_ProyectoValidacionDescargo_ProyectosInmobiliarios_ProyectoId" FOREIGN KEY ("ProyectoId") REFERENCES "ProyectosInmobiliarios" ("IdProyecto") ON DELETE CASCADE,
    CONSTRAINT "FK_ProyectoValidacionDescargo_Usuario_UsuarioId" FOREIGN KEY ("UsuarioId") REFERENCES "Usuario" ("IdUsuario") ON DELETE CASCADE
);

CREATE TABLE "Reportes" (
    "Id" uniqueidentifier NOT NULL,
    "ProyectoId" uniqueidentifier NOT NULL,
    "EstadoReporte" int NOT NULL,
    "Resumen" nvarchar(4000) NULL,
    "GeneradoPorUsuarioId" uniqueidentifier NULL,
    "Version" int NOT NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    "UpdatedAtUtc" datetime2 NULL,
    CONSTRAINT "PK_Reportes" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Reportes_ProyectosInmobiliarios_ProyectoId" FOREIGN KEY ("ProyectoId") REFERENCES "ProyectosInmobiliarios" ("IdProyecto") ON DELETE CASCADE,
    CONSTRAINT "FK_Reportes_Usuario_GeneradoPorUsuarioId" FOREIGN KEY ("GeneradoPorUsuarioId") REFERENCES "Usuario" ("IdUsuario") ON DELETE NO ACTION
);

CREATE TABLE "ResultadosCrediticios" (
    "Id" uniqueidentifier NOT NULL,
    "ProyectoId" uniqueidentifier NOT NULL,
    "ConsentimientoId" uniqueidentifier NOT NULL,
    "ScoreCrediticio" int NOT NULL,
    "PorcentajeEndeudamiento" decimal(5,2) NOT NULL,
    "CantidadAtrasosUltimos12Meses" int NOT NULL,
    "NivelRiesgo" int NOT NULL,
    "FechaConsultaUtc" datetime2 NOT NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    "UpdatedAtUtc" datetime2 NULL,
    CONSTRAINT "PK_ResultadosCrediticios" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_ResultadosCrediticios_ConsentimientosFinancieros_ConsentimientoId" FOREIGN KEY ("ConsentimientoId") REFERENCES "ConsentimientosFinancieros" ("Id") ON DELETE NO ACTION,
    CONSTRAINT "FK_ResultadosCrediticios_ProyectosInmobiliarios_ProyectoId" FOREIGN KEY ("ProyectoId") REFERENCES "ProyectosInmobiliarios" ("IdProyecto") ON DELETE NO ACTION
);

CREATE TABLE "SellosIntegridad" (
    "Id" uniqueidentifier NOT NULL,
    "ProyectoId" uniqueidentifier NOT NULL,
    "CodigoSello" nvarchar(50) NOT NULL,
    "Nombre" nvarchar(max) NOT NULL,
    "Nivel" int NOT NULL,
    "UrlQr" nvarchar(500) NOT NULL,
    "FirmaDigital" nvarchar(1000) NOT NULL,
    "QrToken" nvarchar(500) NOT NULL,
    "ContadorAccesos" int NOT NULL DEFAULT 0,
    "FechaEmisionUtc" datetime2 NOT NULL,
    "FechaExpiracionUtc" datetime2 NOT NULL,
    "Estado" int NOT NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    "UpdatedAtUtc" datetime2 NULL,
    CONSTRAINT "PK_SellosIntegridad" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_SellosIntegridad_ProyectosInmobiliarios_ProyectoId" FOREIGN KEY ("ProyectoId") REFERENCES "ProyectosInmobiliarios" ("IdProyecto") ON DELETE NO ACTION
);

CREATE TABLE "ValidacionesAyuntamiento" (
    "Id" uniqueidentifier NOT NULL,
    "ProyectoId" uniqueidentifier NOT NULL,
    "Municipio" nvarchar(max) NOT NULL,
    "Result" int NOT NULL,
    "Detalle" nvarchar(max) NULL,
    "FechaConsulta" datetime2 NOT NULL,
    "DisponibilidadServicio" bit NOT NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    "UpdatedAtUtc" datetime2 NULL,
    CONSTRAINT "PK_ValidacionesAyuntamiento" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_ValidacionesAyuntamiento_ProyectosInmobiliarios_ProyectoId" FOREIGN KEY ("ProyectoId") REFERENCES "ProyectosInmobiliarios" ("IdProyecto") ON DELETE CASCADE
);

CREATE TABLE "ValidacionesDgii" (
    "Id" uniqueidentifier NOT NULL,
    "ProyectoId" uniqueidentifier NOT NULL,
    "Rnc" nvarchar(max) NOT NULL,
    "Status" int NOT NULL,
    "TieneDeudas" bit NOT NULL,
    "FechaConsulta" datetime2 NOT NULL,
    "ErrorMessage" nvarchar(max) NULL,
    "OrigenDatos" nvarchar(max) NOT NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    "UpdatedAtUtc" datetime2 NULL,
    CONSTRAINT "PK_ValidacionesDgii" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_ValidacionesDgii_ProyectosInmobiliarios_ProyectoId" FOREIGN KEY ("ProyectoId") REFERENCES "ProyectosInmobiliarios" ("IdProyecto") ON DELETE CASCADE
);

CREATE TABLE "AlertasValidacion" (
    "Id" uniqueidentifier NOT NULL,
    "ProyectoId" uniqueidentifier NOT NULL,
    "DocumentoId" uniqueidentifier NULL,
    "Type" int NOT NULL,
    "Category" int NOT NULL,
    "Titulo" nvarchar(max) NOT NULL,
    "Descripcion" nvarchar(max) NOT NULL,
    "Recomendacion" nvarchar(max) NULL,
    "Resuelta" bit NOT NULL,
    "FechaGeneracion" datetime2 NOT NULL,
    "NivelRiesgo" nvarchar(max) NOT NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    "UpdatedAtUtc" datetime2 NULL,
    CONSTRAINT "PK_AlertasValidacion" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_AlertasValidacion_Documentos_DocumentoId" FOREIGN KEY ("DocumentoId") REFERENCES "Documentos" ("Id"),
    CONSTRAINT "FK_AlertasValidacion_ProyectosInmobiliarios_ProyectoId" FOREIGN KEY ("ProyectoId") REFERENCES "ProyectosInmobiliarios" ("IdProyecto") ON DELETE CASCADE
);

CREATE TABLE "DatoValidado" (
    "Id" uniqueidentifier NOT NULL,
    "ProyectoId" uniqueidentifier NOT NULL,
    "DocumentoId" uniqueidentifier NULL,
    "TipoDocumento" nvarchar(100) NOT NULL,
    "DatosOcrJson" nvarchar(max) NOT NULL,
    "DatosMatchJson" nvarchar(max) NOT NULL,
    "PorcentajeTotal" float NOT NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    "UpdatedAtUtc" datetime2 NULL,
    CONSTRAINT "PK_DatoValidado" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_DatoValidado_Documentos_DocumentoId" FOREIGN KEY ("DocumentoId") REFERENCES "Documentos" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_DatoValidado_ProyectosInmobiliarios_ProyectoId" FOREIGN KEY ("ProyectoId") REFERENCES "ProyectosInmobiliarios" ("IdProyecto") ON DELETE CASCADE
);

CREATE TABLE "Certificaciones" (
    "Id" uniqueidentifier NOT NULL,
    "ProyectoId" uniqueidentifier NOT NULL,
    "ReporteId" uniqueidentifier NULL,
    "CodigoVerificacion" nvarchar(max) NOT NULL,
    "EstadoCertificacion" int NOT NULL,
    "FechaEmisionUtc" datetime2 NOT NULL,
    "FechaVigenciaUtc" datetime2 NULL,
    "UrlVerificacion" nvarchar(max) NOT NULL,
    "ScoreIntegridad" int NULL,
    "EstadoIntegridad" int NOT NULL,
    "Version" int NOT NULL,
    "EmisorId" uniqueidentifier NOT NULL,
    "Revocado" bit NOT NULL,
    "MotivoRevocacion" nvarchar(max) NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    "UpdatedAtUtc" datetime2 NULL,
    CONSTRAINT "PK_Certificaciones" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Certificaciones_ProyectosInmobiliarios_ProyectoId" FOREIGN KEY ("ProyectoId") REFERENCES "ProyectosInmobiliarios" ("IdProyecto") ON DELETE CASCADE,
    CONSTRAINT "FK_Certificaciones_Reportes_ReporteId" FOREIGN KEY ("ReporteId") REFERENCES "Reportes" ("Id")
);

CREATE TABLE "Validaciones" (
    "Id" uniqueidentifier NOT NULL,
    "ProyectoId" uniqueidentifier NOT NULL,
    "DocumentoId" uniqueidentifier NULL,
    "FuenteValidacion" nvarchar(200) NOT NULL,
    "EstadoValidacion" int NOT NULL,
    "EsLegitimo" bit NULL,
    "PorcentajeIntegridad" float NULL,
    "Detalle" nvarchar(2000) NULL,
    "CamposValidadosJson" nvarchar(max) NULL,
    "SelloId" uniqueidentifier NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    "UpdatedAtUtc" datetime2 NULL,
    CONSTRAINT "PK_Validaciones" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Validaciones_Documentos_DocumentoId" FOREIGN KEY ("DocumentoId") REFERENCES "Documentos" ("Id") ON DELETE NO ACTION,
    CONSTRAINT "FK_Validaciones_ProyectosInmobiliarios_ProyectoId" FOREIGN KEY ("ProyectoId") REFERENCES "ProyectosInmobiliarios" ("IdProyecto") ON DELETE CASCADE,
    CONSTRAINT "FK_Validaciones_SellosIntegridad_SelloId" FOREIGN KEY ("SelloId") REFERENCES "SellosIntegridad" ("Id") ON DELETE SET NULL
);

CREATE TABLE "Hallazgos" (
    "Id" uniqueidentifier NOT NULL,
    "ProyectoId" uniqueidentifier NOT NULL,
    "ValidacionId" uniqueidentifier NULL,
    "DatoValidadoId" uniqueidentifier NULL,
    "Severidad" int NOT NULL,
    "Codigo" nvarchar(50) NOT NULL,
    "Titulo" nvarchar(200) NOT NULL,
    "Descripcion" nvarchar(2000) NOT NULL,
    "Recomendacion" nvarchar(2000) NULL,
    "SistemaOrigen" nvarchar(max) NULL,
    "Campo" nvarchar(100) NULL,
    "Resuelto" bit NOT NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    "UpdatedAtUtc" datetime2 NULL,
    CONSTRAINT "PK_Hallazgos" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Hallazgos_DatoValidado_DatoValidadoId" FOREIGN KEY ("DatoValidadoId") REFERENCES "DatoValidado" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_Hallazgos_ProyectosInmobiliarios_ProyectoId" FOREIGN KEY ("ProyectoId") REFERENCES "ProyectosInmobiliarios" ("IdProyecto") ON DELETE CASCADE,
    CONSTRAINT "FK_Hallazgos_Validaciones_ValidacionId" FOREIGN KEY ("ValidacionId") REFERENCES "Validaciones" ("Id") ON DELETE NO ACTION
);

CREATE TABLE "ResultadosRegla" (
    "Id" uniqueidentifier NOT NULL,
    "ValidacionId" uniqueidentifier NOT NULL,
    "RuleCode" nvarchar(50) NOT NULL,
    "RuleName" nvarchar(200) NOT NULL,
    "Status" int NOT NULL,
    "Message" nvarchar(1000) NOT NULL,
    "Severity" int NULL,
    "RelatedDocumentId" uniqueidentifier NULL,
    "CreatedAtUtc" datetime2 NOT NULL,
    "UpdatedAtUtc" datetime2 NULL,
    CONSTRAINT "PK_ResultadosRegla" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_ResultadosRegla_Validaciones_ValidacionId" FOREIGN KEY ("ValidacionId") REFERENCES "Validaciones" ("Id") ON DELETE CASCADE
);

CREATE INDEX "IX_AlertasValidacion_DocumentoId" ON "AlertasValidacion" ("DocumentoId");

CREATE INDEX "IX_AlertasValidacion_ProyectoId" ON "AlertasValidacion" ("ProyectoId");

CREATE INDEX "IX_Auditorias_EstadoAnteriorId" ON "Auditorias" ("EstadoAnteriorId");

CREATE INDEX "IX_Auditorias_EstadoNuevoId" ON "Auditorias" ("EstadoNuevoId");

CREATE INDEX "IX_Auditorias_ProyectoId" ON "Auditorias" ("ProyectoId");

CREATE INDEX "IX_Auditorias_UsuarioId" ON "Auditorias" ("UsuarioId");

CREATE INDEX "IX_CatastroTitulo_Rnc" ON "CatastroTitulo" ("Rnc");

CREATE UNIQUE INDEX "IX_CategoriaProyecto_Nombre" ON "CategoriaProyecto" ("Nombre");

CREATE INDEX "IX_Certificaciones_ProyectoId" ON "Certificaciones" ("ProyectoId");

CREATE INDEX "IX_Certificaciones_ReporteId" ON "Certificaciones" ("ReporteId");

CREATE INDEX "IX_ConsentimientosFinancieros_UsuarioId" ON "ConsentimientosFinancieros" ("UsuarioId");

CREATE INDEX "IX_DatoValidado_DocumentoId" ON "DatoValidado" ("DocumentoId");

CREATE INDEX "IX_DatoValidado_ProyectoId" ON "DatoValidado" ("ProyectoId");

CREATE INDEX "IX_DeteccionesDuplicidad_ProyectoDuplicadoId" ON "DeteccionesDuplicidad" ("ProyectoDuplicadoId");

CREATE INDEX "IX_DeteccionesDuplicidad_ProyectoId" ON "DeteccionesDuplicidad" ("ProyectoId");

CREATE INDEX "IX_Documentos_Activo" ON "Documentos" ("Activo");

CREATE INDEX "IX_Documentos_ProyectoId" ON "Documentos" ("ProyectoId");

CREATE INDEX "IX_Documentos_TipoDocumento" ON "Documentos" ("TipoDocumento");

CREATE INDEX "IX_Hallazgos_DatoValidadoId" ON "Hallazgos" ("DatoValidadoId");

CREATE INDEX "IX_Hallazgos_ProyectoId" ON "Hallazgos" ("ProyectoId");

CREATE INDEX "IX_Hallazgos_ValidacionId" ON "Hallazgos" ("ValidacionId");

CREATE INDEX "IX_Invitaciones_EmisorId" ON "Invitaciones" ("EmisorId");

CREATE INDEX "IX_LicenciaConstruccion_NumeroPermiso" ON "LicenciaConstruccion" ("NumeroPermiso");

CREATE INDEX "IX_LicenciaConstruccion_Rnc" ON "LicenciaConstruccion" ("Rnc");

CREATE INDEX "IX_LogConsultas_FechaConsulta" ON "LogConsultas" ("FechaConsulta");

CREATE INDEX "IX_LogConsultas_UsuarioId" ON "LogConsultas" ("UsuarioId");

CREATE INDEX "IX_LogProyectos_FechaCreacion" ON "LogProyectos" ("FechaCreacion");

CREATE INDEX "IX_LogProyectos_ProyectoId" ON "LogProyectos" ("ProyectoId");

CREATE INDEX "IX_LogProyectos_UsuarioId" ON "LogProyectos" ("UsuarioId");

CREATE INDEX "IX_Municipio_IdProvincia" ON "Municipio" ("IdProvincia");

CREATE INDEX "IX_NotificacionEntregas_NotificacionId" ON "NotificacionEntregas" ("NotificacionId");

CREATE UNIQUE INDEX "IX_NotificacionEntregas_NotificacionId_Canal" ON "NotificacionEntregas" ("NotificacionId", "Canal");

CREATE INDEX "IX_Notificaciones_TipoNotificacionId" ON "Notificaciones" ("TipoNotificacionId");

CREATE INDEX "IX_Notificaciones_UsuarioId_TipoNotificacionId" ON "Notificaciones" ("UsuarioId", "TipoNotificacionId") WHERE "TipoNotificacionId" IS NOT NULL;

CREATE INDEX "IX_Pagos_Idsuscripcion" ON "Pagos" ("Idsuscripcion");

CREATE INDEX "IX_Pagos_IdUsuario" ON "Pagos" ("IdUsuario");

CREATE INDEX "IX_PerfilPermiso_IdPermiso" ON "PerfilPermiso" ("IdPermiso");

CREATE INDEX "IX_PermisoSuelo_Rnc" ON "PermisoSuelo" ("Rnc");

CREATE INDEX "IX_ProyectoGuardado_CreatorId" ON "ProyectoGuardado" ("CreatorId");

CREATE INDEX "IX_ProyectoGuardado_ProjectId" ON "ProyectoGuardado" ("ProjectId");

CREATE INDEX "IX_ProyectoGuardado_SaverId" ON "ProyectoGuardado" ("SaverId");

CREATE INDEX "IX_ProyectoInteres_CreatorId" ON "ProyectoInteres" ("CreatorId");

CREATE INDEX "IX_ProyectoInteres_InterestedUserId" ON "ProyectoInteres" ("InterestedUserId");

CREATE INDEX "IX_ProyectoInteres_ProjectId" ON "ProyectoInteres" ("ProjectId");

CREATE UNIQUE INDEX "IX_ProyectosEstados_CodigoUnico" ON "ProyectosEstados" ("CodigoUnico");

CREATE INDEX "IX_ProyectosInmobiliarios_CategoriaId" ON "ProyectosInmobiliarios" ("CategoriaId");

CREATE UNIQUE INDEX "IX_ProyectosInmobiliarios_CodigoInterno" ON "ProyectosInmobiliarios" ("CodigoInterno");

CREATE INDEX "IX_ProyectosInmobiliarios_EstadoId" ON "ProyectosInmobiliarios" ("EstadoId");

CREATE INDEX "IX_ProyectosInmobiliarios_IdUsuario" ON "ProyectosInmobiliarios" ("IdUsuario");

CREATE INDEX "IX_ProyectosInmobiliarios_ProvinciaId" ON "ProyectosInmobiliarios" ("ProvinciaId");

CREATE INDEX "IX_ProyectoValidacionDescargo_ProyectoId" ON "ProyectoValidacionDescargo" ("ProyectoId");

CREATE UNIQUE INDEX "IX_ProyectoValidacionDescargo_UsuarioId_ProyectoId" ON "ProyectoValidacionDescargo" ("UsuarioId", "ProyectoId");

CREATE INDEX "IX_Reportes_GeneradoPorUsuarioId" ON "Reportes" ("GeneradoPorUsuarioId");

CREATE INDEX "IX_Reportes_ProyectoId" ON "Reportes" ("ProyectoId");

CREATE INDEX "IX_ResultadosCrediticios_ConsentimientoId" ON "ResultadosCrediticios" ("ConsentimientoId");

CREATE INDEX "IX_ResultadosCrediticios_ProyectoId" ON "ResultadosCrediticios" ("ProyectoId");

CREATE INDEX "IX_ResultadosRegla_ValidacionId" ON "ResultadosRegla" ("ValidacionId");

CREATE UNIQUE INDEX "IX_SellosIntegridad_CodigoSello" ON "SellosIntegridad" ("CodigoSello");

CREATE INDEX "IX_SellosIntegridad_ProyectoId" ON "SellosIntegridad" ("ProyectoId");

CREATE UNIQUE INDEX "IX_SellosIntegridad_QrToken" ON "SellosIntegridad" ("QrToken") WHERE "QrToken" IS NOT NULL AND "QrToken" <> '';

CREATE INDEX "IX_SesionUsuario_UsuarioId" ON "SesionUsuario" ("UsuarioId");

CREATE UNIQUE INDEX "IX_TiposNotificaciones_Codigo" ON "TiposNotificaciones" ("Codigo");

CREATE INDEX "IX_Usuario_PlanSuscripcionId" ON "Usuario" ("PlanSuscripcionId");

CREATE INDEX "IX_Usuario_TitularId" ON "Usuario" ("TitularId");

CREATE UNIQUE INDEX "UQ_Usuario_Email" ON "Usuario" ("Email");

CREATE UNIQUE INDEX "UQ_Usuario_Nickname" ON "Usuario" ("Nickname") WHERE "Nickname" IS NOT NULL;

CREATE INDEX "IX_Validaciones_DocumentoId" ON "Validaciones" ("DocumentoId");

CREATE INDEX "IX_Validaciones_ProyectoId" ON "Validaciones" ("ProyectoId");

CREATE INDEX "IX_Validaciones_SelloId" ON "Validaciones" ("SelloId");

CREATE INDEX "IX_ValidacionesAyuntamiento_ProyectoId" ON "ValidacionesAyuntamiento" ("ProyectoId");

CREATE INDEX "IX_ValidacionesDgii_ProyectoId" ON "ValidacionesDgii" ("ProyectoId");

CREATE INDEX "IX_Verificacion2FA_UsuarioId" ON "Verificacion2FA" ("UsuarioId");

